<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
    <title th:text="#{carroF.pagina.titulo}">Carros favoritos</title>
</head>

<body>
    <div th:include="navbar"></div>

    <div class="container">
        <h1 class="text-center">
            Carros favoritos
        </h1>
        <br/>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" th:each="carroF : ${carrosFavoritos}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8 col-md-8" style="display: inline-block; text-align: left;">
                                <h4 class="panel-title">
                                    <a class="nombre" data-toggle="collapse" data-parent="#accordion" th:href="'#' + ${carroF.getNombre()}" th:text="${carroF.getNombre()}">
                                        Carro
                                    </a>
                                </h4>
                            </div>
                            <div class="col-sm-2 col-md-2" style="display: inline-block; text-align: right;">
                                <a class="btn btn-success btn-product" href="#" th:onclick="'javascript:addAllCarro(\'' + ${carroF.getNombre()} + '\');'"
                                        style="color: white">
                                   <span class="glyphicon glyphicon-shopping-cart"></span>
                                   Añadir carro favorito al carrito
                                </a>
                            </div>
                            <div class="col-sm-2 col-md-2" style="display: inline-block; text-align: right;">
                                <button class="btn btn-danger delete"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div th:id="${carroF.getNombre()}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <h3>Lista de productos.</h3>
                                </tr>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th class="text-center">Supermercado</th>
                                    <th class="text-center">Precio total</th>
                                    <th> </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="productoCarro : ${carroF.getProductos()}">
                                    <td class="col-sm-5 col-md-4" th:text="${productoCarro.getProducto().getNombre()}">
                                        Nombre
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center" th:text="${productoCarro.getCantidadProducto()}">
                                        Cantidad
                                    </td>
                                    <td class="col-sm-5 col-md-4 text-center" th:text="${productoCarro.getProducto().getSupermercado().getNombre()}">
                                        Supermercado
                                    </td>
                                    <td class="col-sm-3 col-md-3 text-center" th:text="${#numbers.formatDecimal(productoCarro.getProducto().getPrecio() * productoCarro.getCantidadProducto(),0,2) + '€'}">
                                        Precio
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong th:text="${'Precio total (gastos incluídos): ' + #numbers.formatDecimal(carroF.getCoste(),0,2)} + '€'">
                                            Coste
                                        </strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(function() {
                $('.delete').bind( "click", function(event) {
                    var idProd =  $(this).parent().parent().parent().find(".nombre").html();

                    $.post("/borrarCarroFavorito", {nombre: idProd});
                    $(this).parent().parent().parent().parent().remove();

                });
            });
        });

    </script>

</body>