<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <title th:text="#{carro.pagina.titulo}">Carro de productos</title>
</head>

<body>
    <div th:include="navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="itemCarro : ${session.carroProductos}">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/72x72" th:src="${itemCarro.getProducto().getImagen()}" th:width="72" th:height="72" alt="" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" th:text="${itemCarro.getProducto().getNombre()}">Nombre producto</a></h4>
                                    <h5 class="media-heading"><a href="#" th:text="${itemCarro.getProducto().getSupermercado().getNombre()}">Supermercado</a></h5>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control" id="idCantidad-1" th:value="${itemCarro.getCantidadProducto()}" value="3" min="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#numbers.formatDecimal(itemCarro.getProducto().getPrecio(),0,2)+ '€'}">€4.87</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#numbers.formatDecimal(itemCarro.getProducto().getPrecio() * itemCarro.getCantidadProducto(),0,2)+ '€'}">€14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right">
                            <h5 th:if="${session.subtotal!=null}">
                                <strong th:text="${#numbers.formatDecimal(session.subtotal,0,2) + '€'}">€24.59</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Otros costes</h5></td>
                        <td class="text-right"><h5><strong>€6.90</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right">
                            <h3 th:if="${session.subtotal!=null}">
                                <strong th:text="${#numbers.formatDecimal(session.subtotal + 6.9,0,2) + '€'}">€31.53</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Seguir comprando</a>
                        </td>
                        <td>
                            <a href="/finalizarPago" class="btn btn-success">Finalizar pago <span class="glyphicon glyphicon-play"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>