<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <title th:text="#{carro.pagina.titulo}">Carro de productos</title>
</head>

<body>
    <div th:include="navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="itemCarro,iterStat : ${session.carroProductos}" th:id="${'idProductoCarro-' + iterStat.index}">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/72x72" th:src="${itemCarro.getProducto().getImagen()}" th:width="72" th:height="72" alt="" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" th:text="${itemCarro.getProducto().getNombre()}">Nombre producto</a></h4>
                                    <h5 class="media-heading"><a href="#" th:text="${itemCarro.getProducto().getSupermercado().getNombre()}">Supermercado</a></h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control"
                                   th:id="${'idCantidad-' + iterStat.index}"
                                   th:value="${itemCarro.getCantidadProducto()}"
                                   th:oninput="'javascript:actualizarCantidadesProducto(\'' + ${itemCarro.getProducto().getId()} +
                                    ',' + ${iterStat.index} +
                                    ',' + ${itemCarro.getProducto().getPrecio()} + '\');'"
                                   th:onchange="'javascript:actualizarCantidadesProducto(\'' + ${itemCarro.getProducto().getId()} +
                                    ',' + ${iterStat.index} +
                                    ',' + ${itemCarro.getProducto().getPrecio()} + '\');'"
                                   value="3" min="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong th:id="${'idPrecio-' + iterStat.index}"
                                    th:text="${#numbers.formatDecimal(itemCarro.getProducto().getPrecio(),0,2)+ '€'}">€4.87</strong>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong th:id="${'idSubtotal-' + iterStat.index}" th:text="${#numbers.formatDecimal(itemCarro.getProducto().getPrecio() * itemCarro.getCantidadProducto(),0,2)+ '€'}">€14.61</strong>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <button th:id="${'idBotonEliminar-' + iterStat.index}" type="button" class="btn btn-danger"
                                    th:onclick="'javascript:eliminarProducto(\'' + ${itemCarro.getProducto().getId()}
                                        + ',' + ${iterStat.index} + '\');'">
                                <span class="glyphicon glyphicon-remove"></span> Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right">
                            <h5 th:if="${session.subtotal!=null}">
                                <strong th:id="idSubtotal" th:text="${#numbers.formatDecimal(session.subtotal,0,2) + '€'}">€24.59</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Otros costes</h5></td>
                        <td class="text-right"><h5><strong th:text="${#numbers.formatDecimal(6.9,0,2) + '€'}">€6.90</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right">
                            <h3 th:if="${session.subtotal!=null}">
                                <strong th:id="idTotal" th:text="${#numbers.formatDecimal(session.subtotal + 6.9,0,2) + '€'}">€31.53</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Seguir comprando</a>
                        </td>
                        <td>
                            <a href="/finalizarPago" class="btn btn-success">Finalizar pago <span class="glyphicon glyphicon-play"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    function actualizarCantidadesProducto(elementosSinParsear){
        var elementosParseados = elementosSinParsear.split(",");
        var idProducto = elementosParseados[0];
        var indice = elementosParseados[1];
        var precioIndividual = elementosParseados[2];

        var cantidadNueva=document.getElementById('idCantidad-'+indice).value;

        //actualizar subtotal producto
        var subtotalProducto = (precioIndividual * cantidadNueva).toFixed(2).replace(".", ",") + '€';
        document.getElementById('idSubtotal-'+indice).innerHTML=subtotalProducto;

        $.post("/actualizarCantidades", {id:idProducto, cantidad:cantidadNueva}, function(result){
            var resultParseado = result.split(",");
            var subtotal = resultParseado[0];
            var numProductos = resultParseado[1];
            //actualizar contador numProductos
            document.getElementById('numItems').innerHTML=numProductos;
            //actualizar subtotal total
            var subtotalTotal = parseFloat(subtotal).toFixed(2).replace(".", ",") + '€';
            document.getElementById('idSubtotal').innerHTML=subtotalTotal;
            //actualizar total
            var total = parseFloat(parseFloat(subtotal)+6.9).toFixed(2).replace(".", ",") + '€';
            document.getElementById('idTotal').innerHTML=total;

            document.getElementById('idCantidadProductos-' + indice).innerHTML
                    = '<span>' + cantidadNueva + 'ud x ' + parseFloat(precioIndividual).toFixed(2).replace(".", ",") + '€/ud</span>';
        });
    }
</script>
</html>