<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title th:text="#{catalogo.pagina.titulo}">Catálogo de productos</title>
</head>

<body>
    <style type="text/css">
        .btn-product{
            width: 90%;
        }
    </style>

    <div th:include="navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Split button -->
                <div class="btn-group col-md-12 col-sm-12 col-lg-12">
                    <div class="btn-group col-md-3 col-sm-3 col-lg-3" style="padding-bottom: 20px">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary">Ordenar por:</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/">Alfabético: de menor a mayor</a></li>
                                <li><a href="/?ordenacion=nombremayormenor">Alfabético: de mayor a menor</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/?ordenacion=preciomenormayor">Precio: de menor a mayor</a></li>
                                <li><a href="/?ordenacion=preciomayormenor">Precio: de mayor a menor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group col-md-9 col-sm-9 col-lg-9" style="padding-bottom: 20px">
                        <div class="input-group-btn">
                            <input type="text" class="form-control" placeholder="Escribe el producto que quieres buscar..."
                                   id="idTextoProducto" th:onkeyup="'javascript:busquedaDinamica();'">
                        </div>
                    </div>
                </div>
                <div id="idProductosCatalogo">
                    <div th:id="${producto.getNombre() + '-' + iterStat.index}"
                         class="col-sm-6 col-md-4 col-lg-3" th:each="producto, iterStat : ${listaProductos}">
                        <div class="thumbnail producto" style="text-align: center">
                            <div data-toggle="modal" href="#myModal">
                                <h4 class="text-center categoria">
                                    <span class="label label-info" th:text="${producto.getCategoria().getNombre()}">Categoría Producto</span>
                                </h4>
                                <imagen><img src="http://placehold.it/650x450" th:src="${producto.getImagen()}" th:width="650" th:height="450"  class="img-responsive"></imagen>
                                <div class="caption">
                                    <h4 th:text="${producto.getNombre()}" class="nombre">Nombre producto</h4>
                                    <h4 th:text="${producto.getDescripcion()}" class="descripcion" hidden>Descripción del producto</h4>
                                    <h4 th:text="${producto.getSupermercado().getNombre()}" class="supermercado" hidden>Descripción del producto</h4>
                                    <h4 class="precio">
                                        <label th:text="${#numbers.formatDecimal(producto.getPrecio(),0,2) + '€'}">€123.45</label>
                                    </h4>
                                </div>
                            </div>
                            <boton><a href="#" th:onclick="'javascript:aumentar(\'' + ${producto.getNombre()} +
                                 ',' + ${producto.getPrecio()} + ',' + ${producto.getImagen()} + ',' + ${producto.getId()} + '\');'"
                                      class="btn btn-success btn-product">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Añadir al carro</a></boton>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h2 class="modal-title text-center">
                                <div id="title"></div>
                            </h2>
						</div>
						<div class="modal-body">
							<h3>
                                <div id="cat" class="text-center"></div>
                            </h3><br/>
							<div id="image" class="text-center" th:width="650" th:height="450"></div>
							<h4>
                                <span id="supermarket"></span>: <span id="price"></span>
                            </h4><br/>
							<div id="desc" class="text-center"></div><hr/>
							<div id="button" class="text-center"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>

				</div>
			</div>
        </div>
    </div>

</body>
<script>
	$(function() {
		$('.producto').click(function(e) {
			var htmlString = $(this).find(".nombre").html();
			$('#title').html(htmlString);
			htmlString = $(this).find(".descripcion").html();
			$('#desc').html(htmlString);
			htmlString = $(this).find("imagen").html();
			$('#image').html(htmlString);
			htmlString = $(this).find(".categoria").html();
			$('#cat').html(htmlString);
			htmlString = $(this).find(".precio").html();
			$('#price').html(htmlString);
			htmlString = $(this).find("boton").html();
			$('#button').html(htmlString);
			htmlString = $(this).find(".supermercado").html();
			$('#supermarket').html(htmlString);
		});
	});

    function busquedaDinamica(){
        var textoBusqueda=document.getElementById('idTextoProducto').value;

        var listaProductosCatalogo = document.getElementById("idProductosCatalogo");
        var idProductosCatalogo = listaProductosCatalogo.getElementsByTagName("div");

        for(var i = 0; i < idProductosCatalogo.length; i++) {
            var id = idProductosCatalogo[i].id.split("-");
            if (idProductosCatalogo[i].id != null && id.length >= 2) {
                if (idProductosCatalogo[i].id.toLowerCase().indexOf(textoBusqueda.toLowerCase()) >= 0) {
                    $(idProductosCatalogo[i]).show();
                } else {
                    $(idProductosCatalogo[i]).hide();
                }
            }
        }
    }
</script>
</html>