<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title th:text="#{catalogo.pagina.titulo}">Catálogo de productos</title>
</head>

<body>
    <!--<style type="text/css">
        .btn-product{
            width: 100%;
        }
    </style>-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-6 col-md-4 col-lg-3" th:each="producto : ${listaProductos}">
                    <div class="thumbnail">
                        <h4 class="text-center"><span class="label label-info" th:text="${producto.getCategoria().getNombre()}">Categoría Producto</span></h4>
                        <img src="http://placehold.it/650x450" th:src="${producto.getImagen()}" class="img-responsive">
                        <div class="caption" style="text-align: center">
                            <h4 th:text="${producto.getNombre()}">Nombre producto</h4>
                            <h4>
                                <label th:text="${producto.getPrecio() + '€'}">€123.45</label>
                            </h4>
                            <!--<p th:text="${#strings.abbreviate(producto.getDescripcion(),128)}">Descripcion breve producto</p>-->
                            <!--<div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span>Buy</a>
                                </div>
                            </div>-->

                            <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>