<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../resources/css/dataTables.bootstrap.min.css" th:href="@{/resources/css/dataTables.bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/jquery.dataTables.min.css" th:href="@{/resources/css/jquery.dataTables.min.css}" />
    <title th:text="#{gestionarProductos.pagina.titulo}">Gestionar productos del sistema</title>
</head>

<body>
    <div th:include="navbar"></div>

    <div class="container">
        <h1 class="text-center">
            Gestionar productos del sistema
        </h1>
        <br/>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Productos en el sistema
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Información de productos</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="productos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Índice</th>
                                            <th>Nombre</th>
                                            <th>Supermercado</th>
                                            <th>Categoría</th>
                                            <th>Precio</th>
                                            <th>Modificar/eliminar producto</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="producto,indice : ${listaProductos}" th:id="${indice.index}" class="informacionProductos">
                                            <input type="hidden" th:id="idProd + ${indice.index}" th:value="${producto.getId()}">
                                            <td class="indiceTabla" th:text="${indice.index + 1}"></td>
                                            <td th:text="${producto.getNombre()}"  style="vertical-align: middle">Nombre</td>
                                            <td th:text="${producto.getSupermercado().getNombre()}" style="vertical-align: middle">Supermercado</td>
                                            <td th:text="${producto.getCategoria().getNombre()}" style="vertical-align: middle">Categoria</td>
                                            <td th:text="${#numbers.formatDecimal(producto.getPrecio(),1,2) + '€'}" style="vertical-align: middle">€123.45</td>
                                            <td style="vertical-align: middle">
                                                <button class="btn btn-default btn-group-xs edit" th:id="edit_button + ${indice.index}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <button class="btn btn-default btn-group-xs delete"><span class="glyphicon glyphicon-trash"></span></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <h4>Insertar un nuevo producto:</h4>
                                    <form class="form horizontal" id="nuevoProducto" action="/agregarNuevoProducto" method="post">
                                        <div class="form-group col-md-2">
                                            <input type="text" name="nombre" id="nombreProductoNuevo" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="form-control supermercado" name="supermercado" id="supermercadoProductoNuevo" required>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="form-control categoria" name="categoria" id="categoriaProductoNuevo" required>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" name="precio" id="precioProductoNuevo" class="form-control" placeholder="Precio" aria-describedby="basic-addon1" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" name="descripcion" id="descripcionProductoNuevo" class="form-control" placeholder="Descripcion" aria-describedby="basic-addon1" required>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-group-xs add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

        <div class="row">
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="indiceProducto">
                            <div class="input-group">
                                <label for="nombreProducto">Nombre:</label>
                                <input type="text" id="nombreProducto" class="form-control" placeholder="Nombre producto" aria-describedby="basic-addon1" required>
                            </div>
                            <br/>
                            <div class="input-group">
                                <label for="supermercadoProducto">Supermercado:</label>
                                <select class="form-control categoria" name="supermercadoProducto" id="supermercadoProducto" required>
                                </select>
                            </div>
                            <br/>
                            <div class="input-group">
                                <label for="categoriaProducto">Categoria:</label>
                                <select class="form-control categoria" name="categoriaProducto" id="categoriaProducto" required>
                                </select>
                            </div>
                            <br/>
                            <div class="input-group">
                                <label for="precioProducto">Precio:</label>
                                <input type="text" id="precioProducto" class="form-control" placeholder="Precio producto" aria-describedby="basic-addon1" required>
                            </div>
                            <br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Guardar cambios</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="../../resources/js/dataTables.bootstrap.min.js"></script>
    <script src="../../resources/js/jquery.dataTables.min.js"></script>
    <script>
        var row;
        var data;
        $(document).ready(function() {
            $('#supermercadoProductoNuevo').load("/supermercado",{});
            $('#supermercadoProducto').load("/supermercado",{});
            $('#categoriaProductoNuevo').load("/categoria",{});
            $('#categoriaProducto').load("/categoria",{});
            $('#productos').DataTable( {
                "language": {
                    "url": "../../resources/js/dataTables.spanish.lang"
                }
            } );
            var table = $('#productos').DataTable();
            $(".delete").bind( "click", function(event) {
                //Peticion a backend para borrar
                var datos = $('#productos').dataTable().fnGetData($(this).parents('tr'));
                var indice = parseInt(datos[0] - 1);
                var idProd = document.getElementById("idProd" + indice).value;

                $.post("/borrarProducto", {id: idProd}, function(result){});

                table
                    .row( $(this).parents('tr') )
                    .remove()
                    .draw();

                table.draw();

            });
        });
        $('.edit').click(function(e) {
            row = $(this).closest('tr');
            data = $('#productos').dataTable().fnGetData(row);
            console.log(data);

            $('#indiceProducto').val(data[0]-1);
            $('#nombreProducto').val(data[1]);
            $('#precioProducto').val(data[4]);

            $('#myModal').modal('show');
        });
        $('.btn-success').click(function(e) {
            var iP = document.getElementById("indiceProducto").value;
            var idProd = document.getElementById("idProd" + iP).value;

            data[1] = document.getElementById("nombreProducto").value;
            data[2] = document.getElementById("supermercadoProducto").value;
            data[3] = document.getElementById("categoriaProducto").value;
            data[4] = document.getElementById("precioProducto").value;

            data[4] = data[4].replace("€","");
            data[4] = data[4].replace(",",".");
            var precioParseado = parseFloat(data[4]).toFixed(2).replace(".", ",") + '€';
            console.log(precioParseado);

            //Primer parametro campo a actualizar, segundo parametro fila y tercero columna
            //La fila ponemos -1 para compensar ya que data[0] no se actualiza como el resto para evitar
            //actualizaciones futuras incorrectas
            $('#productos').dataTable().fnUpdate(data[1],data[0]-1,1);
            $('#productos').dataTable().fnUpdate(data[2],data[0]-1,2);
            $('#productos').dataTable().fnUpdate(data[3],data[0]-1,3);
            $('#productos').dataTable().fnUpdate(precioParseado,data[0]-1,4);
            var table = $('#productos').DataTable();
            table.draw();

            $('#myModal').modal('hide');

            //Peticion a backend para actualizar
            $.post("/actualizarProducto", {id: idProd,nombre: data[1], supermercado: data[2],
                    categoria: data[3], precio: data[4]},
                function(result){});

        });
    </script>

</body>

</html>