<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/bootbox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../resources/css/navbar.css" th:href="@{/resources/css/navbar.css}" />
    <link rel="stylesheet" href="../../resources/css/cart.css" th:href="@{/resources/css/cart.css}" />
</head>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Food Net</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Catálogo</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}" class="changeActive">
                    <a href="/panelLogin">Regístrate/Accede</a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong th:text="${session.user.getNombre()}">Nombre</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left">
                                            <strong th:text="${session.user.getNombre() + ' ' + session.user.getApellidos()}">Nombre Apellido</strong>
                                        </p>
                                        <p class="text-left small" th:text="${session.user.getEmail()}">correoElectronico@email.com</p>
                                        <p class="text-left">
                                            <a href="/modificarUsuario" class="btn btn-primary btn-block btn-sm">Modificar Datos</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="/logout" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li th:if="${session.user!=null && session.user.isAdmin()}" class="changeActive">
                    <a href="/gestionarProductos">Gestionar productos</a>
                </li>
                <li th:if="${session.user!=null}" class="changeActive">
                    <a href="/historial">Historial de pedidos</a>
                </li>
                <li th:if="${session.user!=null}" class="changeActive">
                    <a href="/carrosFavoritos">Carros favoritos</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-shopping-cart"></span>

                        <span th:if="${session.productosCarro!=null}" id="numItems" th:text="${session.productosCarro}">0</span>
                        <span th:if="${session.productosCarro==null}" id="numItems">0</span>
                        <span> - Productos </span>

                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu" id="carroCompra">
                        <li th:each="itemCarro, carroStat : ${session.carroProductos}" th:id="${'idProducto-' + carroStat.index}">
                            <span class="item">
                                <span class="item-left">
                                    <img src="http://placehold.it/50x50" th:src="${itemCarro.getProducto().getImagen()}"
                                         th:width="50" th:height="50" alt="" />
                                    <span class="item-info">
                                        <span th:text="${itemCarro.getProducto().getNombre()}">Item name</span>
                                        <span th:id="${'idCantidadProductos-' + carroStat.index}" th:text = "${itemCarro.getCantidadProducto() + 'ud x '
                                            + #numbers.formatDecimal(itemCarro.getProducto().getPrecio(),1,2) + '€/ud'}">23 €</span>
                                    </span>
                                </span>
                                <button th:id="${'idBotonEliminar-' + carroStat.index}" class="btn btn-xs btn-danger pull-right"
                                        th:onclick="'javascript:eliminarProducto(\'' + ${itemCarro.getProducto().getId()}
                                        + ',' + ${carroStat.index} + '\');'">x</button>
                            </span>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="/verCarro">Ver carro</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<body>
<!-- /* Handle the flash message */-->
<th:block th:if="${message != null}">
    <!-- /* The message code is returned from the @Controller */ -->
    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${message.args})})">&nbsp;</div>
</th:block>
</body>

<script>
    $(document).ready(function() {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    });


    function aumentar(productoSinParsear){
        //parte navbar
        var productos = productoSinParsear.split(",");
        var nombre = productos[0];
        var precio = productos[1];
        var imagen = productos[2];
        var id = productos[3];

        // actualizar cantidad de productos en el carro
        var numProductos = document.getElementById('numItems').innerHTML;
        var textBox = document.getElementById("numItems");
        numProductos++;
        textBox.innerHTML = numProductos;

        //parte dropdown carro
        $.post("/addProductoCarro", {id:id}, function(result){
            var respuesta = result.split(",");
            var operacion = respuesta[0].trim();
            var nuevaCantidad = parseInt(respuesta[1].trim());
            var posicionEnCarro = parseInt(respuesta[2].trim());
            if(operacion != 'existe'){
                //clonamos el boton de ver carro
                var lista = document.getElementById('carroCompra'), verCarro = lista.lastElementChild;
                var clonVer = verCarro.cloneNode(true);
                var list = document.getElementById('carroCompra'), item = list.lastElementChild;
                list.removeChild(item);

                //clonamos el divider
                var lista2 = document.getElementById('carroCompra'), divider = lista2.lastElementChild;
                var clonDivider = divider.cloneNode(true);
                var list2 = document.getElementById('carroCompra'), item2 = list2.lastElementChild;
                list2.removeChild(item2);

                $('#carroCompra').append('<li id="idProducto-' + posicionEnCarro + '"><span class="item"><span class="item-left">' +
                        '<img src="' + imagen + '" width="50" height="50" alt="" />' +
                        '<span class="item-info"> ' +
                        '<span>' + nombre + '</span> ' +
                        '<span id="idCantidadProductos-' + posicionEnCarro + '">' + nuevaCantidad + 'ud x ' + parseFloat(precio).toFixed(2).replace(".", ",") + '€/ud</span></span>' +
                        '</span>' +
                        '<span class="item-right"> ' +
                        '<button id="idBotonEliminar-' + posicionEnCarro + '" class="btn btn-xs btn-danger pull-right" ' +
                        'onclick="eliminarProducto(\'' + id + ',' + posicionEnCarro + '\');">x</button></span></span></li>');

                document.getElementById("carroCompra").appendChild(clonDivider);
                document.getElementById("carroCompra").appendChild(clonVer);
            } else {
                document.getElementById('idCantidadProductos-' + posicionEnCarro).innerHTML
                        = '<span>' + nuevaCantidad + 'ud x ' + parseFloat(precio).toFixed(2).replace(".", ",") + '€/ud</span>';
            }
        });
    }

    function addAllCarro(nombreFavorito){
        $.post("/addFavoritoCarro", {name:nombreFavorito}, function(result){
            var respuesta = result.split(",");
            var operacion = respuesta[0].trim();

            var textBox = document.getElementById("numItems");
            var numProductos = parseInt(respuesta[1].trim());
            textBox.innerHTML = numProductos;

            //Según si el carro ya ha sido creado (codigo operacion) se reemplaza o se crea


        });
    }

    function eliminarProducto(productoSinParsear){
        //parte navbar
        var producto = productoSinParsear.split(",");
        var id = producto[0].trim();
        var indice = producto[1].trim();

        $.post("/eliminarProducto", {id:id}, function(result){
            var resultParseado = result.split(",");
            var subtotal = resultParseado[0];
            var numProductos = resultParseado[1];

            var textBox = document.getElementById("numItems");
            textBox.innerHTML = numProductos;

            var productoEliminar = document.getElementById("idProducto-"+indice);
            productoEliminar.remove();

            // Variables a actualizar en caso de que se este en la ventana del carrito
            var productoCarroEliminar = document.getElementById("idProductoCarro-"+indice);
            if(productoCarroEliminar != null) {
                productoCarroEliminar.remove();
                //actualizar subtotal total
                var subtotalTotal = parseFloat(subtotal).toFixed(2).replace(".", ",") + '€';
                document.getElementById('idSubtotal').innerHTML=subtotalTotal;
                //actualizar total
                var total = parseFloat(parseFloat(subtotal)+6.9).toFixed(2).replace(".", ",") + '€';
                document.getElementById('idTotal').innerHTML=total;
            }
        });
    }
</script>

</html>